<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_udhyog">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.eudhyog"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.e_udhyog.BuySell"
                android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerFirst"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.LoginRegister"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.BuyerLogin"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.BuyerRegister"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.AlreadySelling"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.StartSelling"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellingDetails"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerCatalog"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Otp"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ForgotPassword"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ForgotPasswordOtp"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ChangePassword"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.DeliveryMain"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerOtp"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.BuyerMyAccount"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Payment"
            android:theme="@style/Theme.eudhyog" />

        <activity android:name="com.example.e_udhyog.SellerMain"
        android:theme="@style/Theme.eudhyog" />

        <activity android:name="com.example.e_udhyog.BuyerMain"
            android:theme="@style/Theme.eudhyog" />


    </application>

</manifest>