<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_udhyog">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eudhyog"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_config">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.e_udhyog.BuySell"
                android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerFirst"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Buyer_Register"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.LoginRegister"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.BuyerLogin"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.AlreadySelling"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.StartSelling"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellingDetails"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerCatalog"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Otp"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ForgotPassword"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ForgotPasswordOtp"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.ChangePassword"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.DeliveryMain"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerOtp"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.BuyerMyAccount"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Payment"
            android:theme="@style/Theme.eudhyog" />

        <activity android:name="com.example.e_udhyog.SellerMain"
        android:theme="@style/Theme.eudhyog" />

        <activity android:name="com.example.e_udhyog.BuyerMain"
            android:theme="@style/Theme.eudhyog" />


        <activity android:name="com.example.e_udhyog.SellerAccount"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerMyProfile"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.BankDetails"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.CartMain"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.BuyerMyprofile"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerCategory"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Addproduct_Finish"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.DeliveryPartner"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Seller_inventory"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerForgotPassword"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Help"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.SellerChangePassword"
            android:theme="@style/Theme.eudhyog"/>
        <activity android:name="com.example.e_udhyog.Subcategory_List"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Subcategory_clothing"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Subcategory_homedecor"
            android:theme="@style/Theme.eudhyog"/>

        <activity android:name="com.example.e_udhyog.Add_popup"
            android:theme="@style/Theme.eudhyog"/>


        <activity android:name="com.example.e_udhyog.Subcategory_accessories"
            android:theme="@style/Theme.eudhyog"/>
        <activity android:name="com.example.e_udhyog.Seller_Reports"
            android:theme="@style/Theme.eudhyog"/>


            <activity android:name="com.example.e_udhyog.Subcategory_art"
                android:theme="@style/Theme.eudhyog"/>
        <activity android:name="com.example.e_udhyog.DetailedProductsActivity"
            android:theme="@style/Theme.eudhyog"/>



    </application>

</manifest>